<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab Partidos -->
    <ion-tab-button tab="matches">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Partidos</ion-label>
    </ion-tab-button>

    <!-- Tab La Liga -->
    <ion-tab-button tab="league">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>La Liga</ion-label>
    </ion-tab-button>

    <!-- Tab Ranking -->
    <ion-tab-button tab="ranking">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <!-- Tab Perfil -->
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
